#footer img{
    height:50px;
    width:50px;
}
#footer li{
    display:block;
    float:left;
    margin-left:50px;
}
#footer {
    position:relative;
    background-color: #FDFDFD;
    display:inline-block;
    height:100%;
    width:100%;
    color:#414347;
    font-weight:700;
    border-radius:5px;
    box-shadow: 1px 0px 3px 1px #888888;
}